<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Gold </title>

    <link href="~/assets/img/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/authentication/form-1.css" rel="stylesheet" type="text/css" />

    @*
    <link href="~/assets/css/forms/theme-checkbox-radio.css rel="~/stylesheet" type="text/css" >
    <link href="~/assets/css/forms/switches.css" rel="~/stylesheet" type="text/css" >
    <link href="~/assets/css/elements/alert.css"  rel="~/stylesheet" type="text/css"> *@

    <script src="~/assets/js/libs/jquery-3.1.1.min.js"></script>
    <script src="~/bootstrap/js/popper.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/authentication/form-1.js"></script>
    <script src="~/plugins/bootstrap-maxlength/bootstrap-maxlength.js"></script>
    <script src="~/assets/js/Helper.js"></script>


</head>
<body class="form">
    <div class="form-container">
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    @RenderBody()
                </div>
            </div>
        </div>
        <div class="form-image">
            <div class="l-image">
            </div>
        </div>
    </div>

</body>
</html>
